// COLORS 
$dark: #4D455D;
$light: #F5E9CF;
$red: #E96479;
$blue: #7DB9B6;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
$Poppins: 'Poppins', sans-serif;
$body: 16px;
$heading: 1.875rem;
$sub-heading: 1.625rem;

